<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>weather</name>
    <displayName><![CDATA[Weather]]></displayName>
    <version><![CDATA[1.1.0]]></version>
    <description><![CDATA[Displays customer weather]]></description>
    <author><![CDATA[JordanGarciaDev]]></author>
    <tab><![CDATA[pricing_promotion]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>